<nav class="navbar navbar-light navbar-expand-lg text-dark position-fixed">
    <a href="#" class="navbar-brand mx-3"><img class="h-10" id="logo" src="images/logo.png" alt="Hexa Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsing">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapsing">
        <ul class="navbar-nav ml-auto mr-4">
            <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Men's</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Women's</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Kids's</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Pages</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Explore</a></li>

        </ul>
    </div>
</nav>
